// FONTS
$baseFont: 'Montserrat', sans-serif;  // Основной шрифт
//$accentFont: 'Popins', sans-serif;  // Дополнительный акцентный шрифт №1
//$baseFont: 'Popins', sans-serif;  // Дополнительный шрифт №2


// COLOR
$whiteColor: #fff;
$accentColor: #e93578;
$footer-bg: #181818;
$overlay-bg: #000;
$footerCoursesColor: #c1c1c1;
$textColor: #181818;
$copyColor: #949494;
$placeholderColor: #afafaf;
$breadcrumbs: #0d0d0d;
$bannerSubtitleColor: #5e7912;
$scills-bg: #f7f7f7;
$scillsTextColor: #232323;
$scillsListColor: #414141;
$motivationCardColor-bg: #262626;
$motivationTitleColor: #0d0d0d;
$benefitsTextColor: #0c0c0c;
$courses-testimonials-title: #161515;
$course-advice: #656565;
